[submodule "bundle/fugitive.git"]
	path = bundle/fugitive.git
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/airline.git"]
	path = bundle/airline.git
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/nerdtree.git"]
	path = bundle/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-airline-themes.git"]
	path = bundle/vim-airline-themes.git
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/badwolf.git"]
	path = bundle/badwolf.git
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/vim-colors-solarized.git"]
	path = bundle/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
